.header-area{
    padding: 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}
.header{
    display: grid;
    grid-template-columns: 15% 80%;
    column-gap: 5%;
    align-items: center;
}
.logo a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    display: block;
    color: #fff;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
}
.menu ul li a{
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    color: #fff;
}
.menu ul li a:hover{
    color: #ff7720;
}