@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
}
img{
  vertical-align: middle;
  max-width: 100%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  transition: .3s;
  color: #333;
}
.container{
  width: 1140px;
  margin: 0 auto;
}


